.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-content: wrap;
}

.text {
  width: 30vw;
  height: 30vh;
  color:var(  --main-text-color);
  justify-content: space-around;
  align-items: center;
  margin-top: 5rem;
  margin-left: 25rem;
}

h1 {
  display: flex;
  justify-content: center;
  font-size: 40px;
  font-family: "Roboto" Arial, Helvetica, sans-serif;
}

p {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-family: "Roboto" Arial, Helvetica, sans-serif;
}

.buttons {
  width: 30vw;
  height: 5vh;
  display: flex;
  justify-content: space-around;
  margin-left: 25rem;
}

#more {
  width: 7rem;
  height: 2.5rem;
  display: flex;
  justify-content: center;
  font-size: 16px;
  font-family: "Roboto" Arial, Helvetica, sans-serif;
  font-weight: 800;
  color:var(  --main-text-color);
  background-color:var(--button-color-green);
  border-radius: 2%;
}

#send {
  width: 7rem;
  height: 2.5rem;
  display: flex;
  justify-content: center;
  font-size: 16px;
  font-family: "Roboto" Arial, Helvetica, sans-serif;
  font-weight: 800;
  color:var(  --main-text-color);
  background-color:var( --button-color-blue);
  border-radius: 2%;
}

input[type="submit"] {
  border: none;
}

.phones {
  width: 10vw;
  height: 30vh;
  display: flex;
  justify-content: center;
}

.phone1 {
  width: 25vh;
  height: 55vh;
  left: 75rem;
  top: 15rem;
  bottom: 12rem;
  position: absolute;
}

.phone2 {
  width: 25vh;
  height: 55vh;
  top: 17rem;
  left: 70rem;
  bottom: 11rem;
  position: absolute;
}

