header {
  width: 100vw;
  height: 10vh;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border: 2px red solid;
}

header div {
 flex-grow: 2;
 border: 2px blue solid;
} 

nav ul {
  display: flex;
  justify-content: space-around;
  border: 2px green solid;
  list-style: none;
}

header nav ul li a {
  text-decoration: none;
  color: var(--main-text-color);
  border: 2px purple solid;
  justify-content: space-evenly;
}